/* Container */
.reset_Password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f4f8;
  font-family: Arial, sans-serif;
}

/* Form */
.reset_Password form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px; /* Tăng chiều rộng của form */
  box-sizing: border-box;
  text-align: center;
}

/* Title */
h2 {
  margin-bottom: 1.5rem;
  color: #333;
  text-align: center;
}

/* Form group */
.form_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 1rem; 
}

/* Email section */
.enter_email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.enter_email label {
  color: #333;
  font-weight: bold;
  margin-right: 1rem;
}

.enter_email input {
  flex: 1;
  padding: 0.5rem;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
  box-sizing: border-box; 
}

.otp_button {
  padding: 0.5rem 1rem; 
  font-size: 0.9rem;
  height: 40px; 
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box; 
}

.otp_button:hover {
  background-color: #0056b3;
}

/* OTP section */
.enter_otp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.enter_otp label {
  color: #333;
  font-weight: bold;
  margin-right: 1rem;
}

.enter_otp input {
  flex: 1;
  padding: 0.5rem;
  height: 40px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.reset_password {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.reset_button {
  padding: 0.75rem 1.5rem; 
  font-size: 1rem;
  height: 40px; 
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box; 
}

.reset_button:hover {
  background-color: #0056b3;
}

.reset_button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.notification_message {

  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-right: 50px;
}

.notification_message.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.notification_message.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.enter_email input:-webkit-autofill,
.enter_email input:-webkit-autofill:hover,
.enter_email input:-webkit-autofill:focus,
.enter_email input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: black !important;
  transition: background-color 5000s ease-in-out 0s !important;
  background-color: transparent !important;
}