/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== LOGIN ===============*/
.login {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

.login__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.login__form {
  position: relative;
  width: 100%;
  max-width: 400px; /* Increase the max-width to make the form wider */
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, 0.1);
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding: 3.5rem 2rem;
  color: var(--white-color);
  border-radius: 1rem;
  backdrop-filter: blur(16px);
  z-index: 1;
}

.login__form .bi-arrow-left {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 24px;
  color:  var(--white-color);
}

.login__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.25rem;
}

.login__inputs,
.login__box {
  display: grid;
}

.login__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}

.login__box {
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}

.login__input,
.login__button {
  border: none;
  outline: none;
}

.login__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}

.login__input::placeholder {
  color: var(--white-color);
}

.login__box i {
  font-size: 1.25rem;
}

.login__check,
.login__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}

.login__check-box {
  column-gap: .5rem;
}

.login__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}

.login__forgot {
  color: var(--white-color);
  font-weight: 600;
}

.login__forgot:hover {
  color: #0e3e72;
}

.login__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}

.login__register {
  font-size: var(--small-font-size);
  text-align: center;
}

.login__register a {
  color: var(--white-color);
  padding-left: 5px;
  font-weight: 600;
}

.login__register a:hover {
  color: #0e3e72;
}
/* Disable browser default styles for input suggestions */
.login__box input:-webkit-autofill,
.login__box input:-webkit-autofill:hover,
.login__box input:-webkit-autofill:focus,
 .login__box input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: var(--white-color) !important;
  transition: background-color 5000s ease-in-out 0s !important;
  background-color: transparent !important;
}

/* Ensure consistent border color when input is focused */
.login__input:focus {
  border: none;
}
.line{
  margin-top: 20px;
}
.login__error {
  font-size: 0.8rem;
  color: rgb(36, 9, 9);
  margin-top: 0.2rem;
  text-align: left;
}